/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Wrap long lines */
.break-words {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Light vs Dark body background */
html:not(.dark) body {
  background-color: #f9fafb; /* Tailwind gray-50 */
}
html.dark body {
  background-color: #202123;
}